.home {
  width: 100vw;
  /* height: 100vh; */
  background-color: #a89587e3;
  /* overflow: auto; */
}
#Textarea-12{
  background-color: #444038;
  color:wheat;
}
.pbutt {
  width: 100%;
  height: 100%;
  background-color: #39d16c;

}

.highlight {
  background-color: #444038d7;
}

.leagueForm {
  background-color: #ebf0f1;
  height: 30em;
  overflow: auto;
}

.chatIn {
  margin-bottom: .1em;
  background-color: #444038;
  color: #fff;
  width: 100%;
  height:4em;
  overflow: auto;
}

.splash {
  border: 2px solid #444038;
  border-radius: 5px;
}

#primaryBtn {
  background: linear-gradient(45deg, red, #141263);
}
.btn{
  width: 100%;
  background-color:rgb(47, 47, 95);
}
.App {
  text-align: center;
  background: url("./images/nflkids2.jpg");
}

.msgS {
  background-color: #df744dd7;
  width: 60%;
  border-radius: 8px;
  margin-bottom: .25rem;
  color: white
}

.headRow {
  /* position: fixed; */
  background-color: #141263;
  color: white;
}

.headSep {
  height: 1em;
}

.pcard {
  padding-top: 0%;
}

.pTable {
  height: 50em;
  overflow: auto;
}

.tableN {
  padding: 0%;
  border-right: 1px solid black;
}

.tableSec {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}