.home {
  /* width: 100vw; */
  /* height: 100vh; */
  /* background-color: #a89587e3; */
  /* overflow: auto; */
}
#Textarea-12{
  background-color: #444038;
  color:wheat;
}
.pbutt {
  width: 100%;
  height: 100%;
  background-color: #39d16c;

}

.highlight {
  background-color: #444038d7;
}
.Chatcard{
  background-color: #d3d0cb;
  padding:.75em;
}
.leagueForm {
  margin-top:5em;
  background-color: #ebf0f1;
  height: 30em;
  overflow: auto;
}

.chatIn {
  margin-bottom: .1em;
  background-color: #444038;
  color: #fff;
  width: 100%;
  height:4em;
  overflow: auto;
}

.splash {
  border: 2px solid #444038;
  border-radius: 5px;
}

#primaryBtn {
  background: linear-gradient(45deg, red, #141263);
}
.btn{
  width: 100%;
  background-color:rgb(47, 47, 95);
}


.App {
  text-align: center;
  background: url("./images/field.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}

.msgbox{
  height:50vh;
  overflow: auto;
  background-color:#f5f4f3;
  border:3px inset #444038;
  border-radius:5px;
  margin-top:.5em;
  margin-bottom:.5em;
  padding:0em .5em .25em .5em; 
}

.carousel.carousel-slider .carousel-item p {
  font-size:.6em ;
  color: #e7e4e4;
  font-weight: 400;
}

.msgS {
  background-color: #ecab1e;
  
}
.msg .row{
  margin-bottom: 0em;
}
.msg{
  padding-left:1.25em;
  max-width: 80%;
  font-weight: 700;
  border-radius: 8px;
  margin-bottom: .25rem;
  color: white;
  text-align: left;
  padding-right:1.25em;
}
.msgR {
  background-color: #3464e9;
  margin-left: 20%;
}

.headRow {
  /* position: fixed; */
  top:0;
  max-width: 100%;
  align-content: center;
  background-color: #141263;
  color: white;
}

.headSep {
  height: 1em;
}
.tabStyle{
  height: 90vh;
}
.pcard {
  padding:.75em;
  height: 90vh;
  background-color:#696459f5;
  /* padding-bottom: .75em; */
  /* min-height:60vh; */
  overflow:auto;
}

.pTable {
  height: 50em;
  overflow: auto;
}

.tableN {
  padding: 0%;
  border-right: 1px solid black;
}

.tableSec {
  color: white;
  font-weight: 700;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login{
  margin-top:25%;
  border-radius: 8px;
  background-color: #1e1ca8f8;
  padding:1.33em;

}
/* #email{
  border-radius:5px;

} */
.iLabel{
  font-size: 1.75em;
  font-weight:700;
  color:white;
}
.lInput{
  border-radius:5px;
}
#loginB{
  width: 100%;
}
#errMess{
  background-color:red;
  color:white;
  font-weight: 700;
}
.errM{ 
  color:white
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.findL{
  margin-top:40vh;
  background-color:#4a47f0f8;
  /* vertical-align: middle; */
  font-weight: 700;
  padding:.2em;
}
#search{
  margin-bottom:0em;
}
#lBtn{
  height: 100%;
  padding: 0;
  margin-right: .25em;
}
#lSearch{
  background-color:#a1a0c5;
  padding:.1em;
  border-radius: 5px;
}
#tabs{
  /* margin-top:10vh; */
  height:95vh;
}
.tabCont{
  height:75vh;
}
.tabs-content{
  height:85vh;
}
.tabs .tab a{
  background-color:#141194;
  color:white;
  font-weight:500;
}
.tabs .tab a:hover, .tabs .tab a.active {
  background-color:white;
  color:#141194;
}
/* .tab a.active {
  background-color:white;
  color:#141194;
} */
/* #timer{
  font-family: 'Luckiest Guy';
  font-weight:600;
} */
.low{
  font-family: 'Luckiest Guy';
  font-weight:700;
  font-size: 2.5em;
  color:#9b0909;
}
.med{
  font-family: 'Luckiest Guy';
  font-weight:700;
  font-size: 2.5em;
  color:#283c64;
}
.high{
  font-family: 'Luckiest Guy';
  font-weight:700;
  font-size: 2.5em;
  color:#0b8032;
}
.currDRow{
  background-color:#9e9898;
  border-bottom: 3px inset #382a14;
  /* overflow:auto; */
  
}
.timeout{
  font-family: 'Luckiest Guy';
  font-weight:700;
  font-size: 2em;
  background-color:#80220b;
  color:white;
}
.teams{
  border:1px solid #382a14;
  background-color:#141194;
  color:#ebf0f1;
  padding:.25em 0em .25em 0em;
}
.orderBox{
  background-color:#9e9898;
  overflow:auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-height:60vh;
  width:auto;
}
.userName{
  background-color: #141194;
  color:white;
}
.dBox{
  width:100%
}