.home {
  /* width: 100vw; */
  /* height: 100vh; */
  /* background-color: #a89587e3; */
  /* overflow: auto; */
}
#Textarea-12{
  background-color: #444038;
  color:wheat;
}
.pbutt {
  width: 100%;
  height: 100%;
  background-color: #39d16c;

}
.formI{
  background-color: #fcf9f5d7!important;
  border-radius: 8px !important;
  color: rgb(150, 17, 17) ;
  font-size:1.5em;
  font-weight: bold;
}
.formL{
  font-size:1.5em;
  color:#000000;
}
.highlight {
  background-color: #444038d7;
}
.Chatcard{
  background-color: #d3d0cb;
  padding:.75em;
}
#leagueForm {
  border-radius: 50px;
  background: #243ae4be;
  box-shadow:  5px 5px 14px #17279f,
             -5px -5px 14px #1f35d7;
  margin-top:20vh;
  /* background-color: #ebf0f1; */
  padding:2em;
  height: 60vh;
  overflow: auto;
  padding:1em;
  flex-direction: row;
  align-content: center;
}

.chatIn {
  margin-bottom: .1em;
  background-color: #444038;
  color: #fff;
  width: 100%;
  height:4em;
  overflow: auto;
}

.splash {
  border: 2px solid #444038;
  border-radius: 5px;
}
.avatar{
  margin-top: 1em;
  width:3vh;
  border-radius: 50px;
}
#primaryBtn {
  background: linear-gradient(45deg, red, #141263);
}
.btn{
  width: 60%;
  margin: auto;
  border-radius: 8px;
  background: linear-gradient(335deg, #ddb42c, #328e3e);
    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}
#navIcon{
  max-width: 10vh;
  max-height:10vh;
  border-radius: 8px;
  position:fixed;
  top: 1vh;
  left: 1vw;
  box-shadow:  3px 3px 6px #ad1221,
             -3px -3px 6px #e9182d;
}
.dropdown-content{
  border-radius:8px;
  color: rgb(8, 8, 8)!important;
}
.dropdown-content li>span {
  color: rgb(8, 8, 8)!important;
}
.App {
  text-align: center;
  background: url("./images/field.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
}

.msgbox{
  height:50vh;
  overflow: auto;
  background-color:#f5f4f3;
  border:3px inset #444038;
  border-radius:5px;
  margin-top:.5em;
  margin-bottom:.5em;
  padding:0em .5em .25em .5em; 
}

.carousel.carousel-slider .carousel-item p {
  font-size:.6em ;
  color: #e7e4e4;
  font-weight: 400;
}

.msgS {
  background-color: #6e0f0c;
  
}
.msg .row{
  margin-bottom: 0em;
}
.msg{
  padding-left:1.25em;
  max-width: 80%;
  font-weight: 700;
  border-radius: 8px;
  margin-bottom: .25rem;
  color: white;
  text-align: left;
  padding-right:1.25em;
}
.msgR {
  background-color: #3464e9;
  margin-left: 20%;
}

.headRow {
  /* position: fixed;
  top:0; */
  max-width: 100%;
  align-content: center;
  background-color: #141263;
  color: white;
}

.headSep {
  height: 1em;
}
.tabStyle{
  height: 90vh;
}
.pcard {
  padding:.75em;
  height: 80vh;
  background-color:#696459f5;
  /* padding-bottom: .75em; */
  /* min-height:60vh; */
  overflow:auto;
}
.card{
  background: #243ae4be;
  box-shadow:  5px 5px 14px #17279f,
             -5px -5px 14px #1f35d7;
  color: white;
}
.pTable {
  height: 50em;
  overflow: auto;
}

.tableN {
  padding: 0%;
  border-right: 1px solid black;
}

.tableSec {
  color: white;
  font-weight: 700;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login{
  margin-top:25%;
  border-radius: 8px;
  background-color: #1e1ca8f8;
  padding:1.33em;

}
/* #email{
  border-radius:5px;

} */
.iLabel{
  font-size: 1.75em;
  font-weight:700;
  color:white;
}
.lInput{
  border-radius:5px;
}
#loginB{
  width: 100%;
}
#errMess{
  background-color:red;
  color:white;
  font-weight: 700;
}
.errM{ 
  color:white
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.findL{
  margin-top:40vh;
  background-color:#4a47f0f8;
  /* vertical-align: middle; */
  font-weight: 700;
  padding:.2em;
}
#search{
  margin-bottom:0em;
}
#lBtn{
  height: 100%;
  padding: 0;
  margin-right: .25em;
}
#lSearch{
  background-color:#a1a0c5;
  padding:.1em;
  border-radius: 5px;
}
#tabs{
  margin-top:15vh;
  position:fixed;
  height:75vh;
  border-radius: 8px;
  width:100%;
}
.tabCont{
  height:75vh;
}
.tabs-content{
  height:85vh;
}
.tabs .tab a{
  background-color:#141194;
  color:white;
  font-weight:500;
}
.tabs .tab a:hover, .tabs .tab a.active {
  background-color:white;
  color:#141194;
}
/* .tab a.active {
  background-color:white;
  color:#141194;
} */
/* #timer{
  font-family: 'Luckiest Guy';
  font-weight:600;
} */
.low{
  font-family: 'Luckiest Guy';
  font-weight:700;
  font-size: 2.5em;
  color:#9b0909;
}
.med{
  font-family: 'Luckiest Guy';
  font-weight:700;
  font-size: 2.5em;
  color:#283c64;
}
.high{
  font-family: 'Luckiest Guy';
  font-weight:700;
  font-size: 2em;
  /* background-color:#444038; */
  color:#0b8032;
}
.currDRow{
  background-color:#9e9898;
  border-bottom: 3px inset #382a14;
  /* overflow:auto; */
  
}
.timeout{
  /* position: fixed; */
  /* bottom: 0; */
  font-family: 'Luckiest Guy';
  font-weight:500;
  font-size: 1em;
  height:100%;
  background-color:#494847fd;
  color:white;
  margin: 0;
}
.teams{
  /* float:left; */
  /* display: inline-block; */
  flex: 0 0 auto;
  border:1px solid #382a14;
  background-color:#141194;
  color:#ebf0f1;
  vertical-align: middle;
  width:20vw;
  height:10vh;
  /* padding:.25em 0em .25em 0em; */
}
.orderBox{
  background-color:#9e9898;
  overflow-y: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height:20vh;
  max-height:70vh;
  width:100%;
}
.optBtn{
  height:18vh;
  width:18vh;
  margin-top: 2vh;
  border-radius: 50px;
  color:white;
  background: linear-gradient(335deg, #dd382ce8, #2619daea);
}
.userName{
  background-color: #141194;
  color:white;
  border-radius: 8px;
  margin-top:1vh;
  background: linear-gradient(335deg, #dd382ce8, #2619daea);
}
.dBox{
  width:100%
}
.admin{
  background-color: #9e9898;
  overflow-y: auto;
  /* color: white */
}
.adLabel{
  color: #141194;
}
/* .hideTab{
  display:none
} */
#scroller * {
  /* don't allow the children of the scrollable element to be selected as an anchor node */
  overflow-anchor: none;
}
#anchor {
  /* allow the final child to be selected as an anchor node */
  overflow-anchor: auto;

  /* anchor nodes are required to have non-zero area */
  height: 1px;
}
.doBox{
  background-color: #e6e5e3;
  margin-bottom:0;
}
/* .noMar{
  padding:0 !important;
  margin:0;
} */
#current{
  background-color:#aa4527
}
#modal1{
  height:50vh;
  background-color:#1e1ca8c0;
  color:white;
  border-radius: 8px;
}
.timeBox{
  width:100vw;
  height:5vh;
  position:fixed;
  top:0;
}
.player-btn{
  width:100%!important;
  border-radius: 8px;
  color:white;
  background: linear-gradient(335deg, #ddb42c, #328e3e);
  white-space: normal;
}
#SideNav-50{
  background-color:#1e1ca8c0;
  color:white;
  font-size:1.5em;
  font-weight: 700;
}
.name,.email{
  font-size:1.5em!important;
  font-weight: 700;
}
.reorderList{
  background-color: #1e1ca8c0;
  font-size:1.5em;
  color:white;
  border-radius: 8px;
  width:70vw;
  margin:auto;
  /* margin-top:4vh; */
}
#pickedList{
  background-color:#0a3117;
  color:white;
}
.WR{
  background-color:#49ac6a;
  color:white;
}
.RB{
  background-color:#995348;
  color:white;
}
.QB{
  background-color:#3450ca;
  color:white;
}
.TE{
  background-color:#886b2c;
  color:white;
}
.K{
  background-color:#ca30b0;
  color:white;
}
.DST{
  background-color:#242524;
  color:white;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 70%}
  50%{background-position:100% 31%}
  100%{background-position:0% 70%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 70%}
  50%{background-position:100% 31%}
  100%{background-position:0% 70%}
}
@keyframes AnimationName {
  0%{background-position:0% 70%}
  50%{background-position:100% 31%}
  100%{background-position:0% 70%}
}